@model List<RotativaTestProjekt.Models.RotativaModel>

@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr>
        <th>
           Firma
        </th>
        <th>
            Summe
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Bezeichnung
        </td>
        <td>
            @item.Preis
        </td>
    </tr>
    }

</table>
<p>
    <a href="GeneratePDF"> GeneratePDF</a>
