@model Innovation4Austria.web.Models.ProfilAnzeigeModel

@{
    ViewBag.Title = "Profilansicht";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container" style="padding: 5em">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-size:4em">Profil verwalten</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <div>
                @Html.Partial("_DatenAnzeigen", Model.derMitarbeiter)
            </div>
            <div>
                @Html.Partial("_PasswortVerwaltung", Model.anderesPasswort)
            </div>

        </div>
    </div>
</div>