@model List<Innovation4Austria.web.Models.FirmenModel>

@{
    ViewBag.Title = "FirmenAuflistung";
}




<div class="form-horizontal">
    <div class="container" id="firmenauflistung">

       
        @foreach (var item in Model)
        {
           @Html.Partial("_FirmenAuflistung", item)
        }    

    </div>

</div>
