@model List<Innovation4Austria.web.Models.RechnungsuebersichtModel>
    @{
        ViewBag.Title = "RechnungsUebersicht";
    }

    <h2>RechnungsUebersicht</h2>

    <table>
        <thead>Monat</thead>
        <thead>Jahr</thead>
        @foreach (var item in Model)
        {
            using (Html.BeginForm())
            {
                <tr>
                    <td>
                        {

	}</td>
                </tr>
            }

        }

    </table>